<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/phpunit/bootstrap.php"
         colors="true"
         verbose="true"
         backupGlobals="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         >
    <testsuites>
        <testsuite name="Klaro Geo Plugin Test Suite">
            <directory suffix=".php">./tests/phpunit</directory>
            <exclude>./tests/phpunit/bootstrap.php</exclude>
        </testsuite>
        <testsuite name="Klaro Geo Class Tests">
            <directory prefix="klaroGeo" suffix="ClassTest.php">./tests/phpunit</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="WP_TESTS_DIR" value="/tmp/wordpress-tests-lib"/>
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
    </php>
    <coverage>
        <include>
            <directory suffix=".php">./includes</directory>
            <file>./klaro-geo.php</file>
        </include>
        <exclude>
            <directory>./vendor</directory>
            <directory>./tests</directory>
        </exclude>
        <report>
            <html outputDirectory="coverage/html"/>
            <text outputFile="php://stdout" showUncoveredFiles="true"/>
        </report>
    </coverage>
</phpunit>
